body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: black;
    overflow-x: hidden;   
    }

a { 
    text-decoration: none;
    }

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing:border-box
}
/* стилизация header  */

.promo .promo__header {
    padding: 25px 145px 25px 132px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 100px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;

}

.promo .promo__header-logo img {
    height: 40px;
    width: 120px;
}

.promo__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promo__nav-list li a {
    padding-right: 26px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #666666;
}

.promo__nav-list button {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
background: #222222;
border-radius: 4px;
color: #FFFFFF;
}

.promo .promo__main {
    display: flex;
    justify-content: space-between;
}

.promo  .promo__main-about {
    width: 354px;
    padding: 61px 100px 56px 78px;
}

.promo__main-about img {
    height: 64px;
    width: 192px;
    padding-bottom: 11px;  
}

h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 49px;
line-height: 58px;
color: #222222;
padding-bottom: 18px;
}

.promo__main-about p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #222222;
padding-bottom: 20px;
}

.promo .promo__main-button button {
    display: inline-block;
    font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
background: #222222;
border-radius: 4px;
padding: 10px 25px 12px 25px;
border: #222222;
}

.promo .main-button-dowload{
    margin-right: 10px;
}

.promo .promo__main-img {
    position: relative;
    padding-right: 100px;
    overflow: hidden;
    height: 545px;
}

.features {
    background: #222222;
    padding: 40px 25px 0px 25px
}

.features h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.features p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.features .features-cards{
    padding: 40px 25px;
    border-radius: 20px;   
    display: flex;   
    flex-wrap: wrap;
    gap: 8px;
}

.features-cards-calendar {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-calendar-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}

    .features .features-cards .description{
    background: #F2F2F2;;
    position: relative;
    width: 285px;
    padding: 48px 52px 25px 40px;
    top: -179px;
    border-radius: 0px 0px 20px 20px;
}
.features .features-cards-calendar .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0278ED;
    padding-bottom: 11px;
} 

.features .features-cards .description p {
font-family: 'Poppins';
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
color: #222222;
}

.features-cards .description .feature-cards-sign {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    height: 64px;
    width: 64px;
    background: #0278ED;   
    display: flex;
    align-items: center;
    justify-content: center; 
}



.features-cards-list {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-list-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}
.features .features-cards-list .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FF5437;
    padding-bottom: 11px;
} 
.features-cards-list .description .feature-cards-sign{
    background: #FF5437;    
} 
.features-cards-type {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-type-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}
.features .features-cards-type .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color:#FF9209;
    padding-bottom: 11px;
} 
.features-cards-type .description .feature-cards-sign{
    background: #FF9209;  
} 
.features-cards-screen {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-screen-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}
.features .features-cards-screen .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color:#E738CE;
    padding-bottom: 11px;
    ;
    ;
} 
.features-cards-screen .description .feature-cards-sign{
    background: #E738CE ; 
} 
.features-cards-uploads {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-uploads-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}
.features .features-cards-uploads .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #00C6DF;
    padding-bottom: 11px;
} 
.features-cards-uploads .description .feature-cards-sign{
    background: #00C6DF ; 
} 
.features-cards-focus {
    position: relative;
    display: inline-block;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    height: 490px;
}
.features .features-cards-focus-img  {
    width: 225px;
    height: 450px;
    margin: 40px 76px 0px 76px;
}
.features .features-cards-focus .description .features-cards-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #B25DF8;
    padding-bottom: 11px;
} 
.features-cards-focus .description .feature-cards-sign{
    background: #B25DF8 ; 
} 

/* section statistic */

.statistic {
    background: #FF5437;
}

.statistic .container {
    padding: 100px 80px;
}

.statistic .statistic-list {
    display: flex;
    justify-content: space-between;
}

.statistic .statistic-list .statistic-list-li p:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.statistic .statistic-list .statistic-list-li p:nth-child(2n){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* section technology */

.technology {
    background: white;
}

.technology .container {
    padding: 100px 100px 0px 100px;
}

.technology .technology__about {
    display: flex;
    justify-content: space-between;
}

.technology .technology__about .technology__about-info {
    margin-right: 210px;
    margin-top: 80px;
    width: 420px;
}
.technology .technology__about .technology__about-info h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 5px;
}

.subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    padding-bottom: 15px;
    text-align: left;
}
.technology .technology__about .technology__about-info .main-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    
}

.technology .technology__about .technology__picture {
    overflow: hidden;
    height: 545px;
}

/* section speed ans security */

.speed {
    background: #F2F2F2;
}

.speed .container {
    padding: 100px 100px 0px 100px;
}

.speed .speed__about {
    display: flex;
    justify-content: space-between;
}
.speed .speed__about .speed__picture{
    margin-right: 210px;
    overflow: hidden;
    height: 545px;
}

.speed .speed__about .speed__about-info {
    width: 420px;
    margin-top: 80px;
}
.speed .speed__about .speed__about-info h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 5px;
}

.speed .speed__about .speed__about-info .main-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

/* section dark mood */

.mode {
    background: #222222;
}

.mode .container{
    padding: 100px 300px 160px 300px;
}
.mode h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5px;
    padding-bottom: 5px;
}

.mode .subtitle  {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.mode .info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


.mode  .mode-picture-mobile {
    padding: 30px 100px 0px;
}


.mode .mode-picture-different {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 2px solid #E5E5E5;;
}

.mode .mode-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.mode .mode-light p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5px;
}

/* section prising */

.pricing{
    padding-top: 100px;
    padding-bottom: 100px;
}

.pricing h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

 .pricing .subtitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    padding-bottom: 15px;
}

.pricing .info {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    padding-bottom: 40px;
}

.pricing__option{
    display: flex;
    gap: 16px;
}

.pricing__option .pricing-standart {
    padding: 50px 125px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pricing__option .rate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #0278ED;
}

.pricing__option  .price {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    text-align: center;
    letter-spacing: 8px;
    color: #0278ED;
}

.pricing__option .time {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.pricing__option  button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;    
    color: #FFFFFF;
    padding: 10px 25px;
    background: #0278ED;
    border-radius: 4px;
    border:#0278ED;
    margin: 0 auto;
    display: inline-block;
}

.pricing__option .pricing-premium {
    padding: 50px 80px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-premium .rate {
    color: red;
}

.pricing-premium .price {
    color: red;
}

.pricing-premium .time {
    color: red;
}

.pricing-premium  button {
    background: red
}

.pricing__option .pricing-lifetime {
    padding: 50px 60px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-lifetime .rate {
    color: #FF9209;
}

.pricing-lifetime .price {
    color: #FF9209;
}

.pricing-lifetime .time {
    color: #FF9209;
}

.pricing-lifetime  button {
    background: #FF9209;
}

/* section testimionls */
.testimonials{
background: #F2F2F2;
padding-bottom: 100px;
padding-top: 100px;
}

.testimonials h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222
}

.testimonials .subtitle {
    text-align: center;
}

.testimonials .info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    text-align: center;   
    margin-bottom: 40px; 
}
.testimonials .testimonials__review {
    display: flex;
    gap: 15px;

}
.testimonials__review-opinion {
    padding: 28px;
    background: white;
    border-radius: 20px;
}

.testimonials__review p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    text-align: left;
}

.testimonials__review .testimonials__review-person {
    display: flex;
    margin-top: 20px;
}

.testimonials__review .testimonials__review-person img {
    margin-right: 10px;
}







